/* @override http://localhost:8080/css/deseret.css */
html, body {
	background-color: #e9e8c9;
}

body, h1, div {
	font-family: 'IM Fell English', serif;	
}

#beehive-img {
	margin-top: 40px;
	height: 82px;
	width: 96px;
}
h1 {
	margin: 8px auto 20px auto;
	text-align: center;
	color: #444;
	font-size: 42px;
}

.help-links {
	margin-top: 10px;
}
.help-link {
	text-align: center;
	font-size: 16px;
/*	padding: 20px 0 10px 0;	*/
}
a {
	color: #2695b8;
	text-decoration: none;
}

a:hover {
	color: #1c7995;	
}

.help-link .glyphicon {
	padding-left: 4px;
}

.help-link b {	
	color: #2695b8;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	display:inline-block;
	margin-bottom: 6px;
}

#translate_button {
	font-size: 22px;
	margin: 25px 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}
#translate_button span {
	vertical-align: top;
	padding-left: 4px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 2px;
}

#output_well {
	font-size: 14px;
	background-color: #f0eedb;
	font-size: 18px;
	color: #000;
	font-family: "AdamicBee";
	margin-top:  12px;
}

#input_well {
	background-color: #fafbf2;
	font-size: 20px;
	color: #444;
}

#input_well, #output_well {
	padding: 16px;
}
.info-link, .info-link a {
	display: inline;
}

.notes {
	font-style: italic;
	padding-top: 45px;
	padding-bottom: 30px;
	font-size: 18px;
	color: #333;
}

.copyright {
	font-size: 12px;
	margin: 40px 0px;
	padding-bottom: 50px;
	font-style: normal;
}

@font-face {
  font-family: 'AdamicBee';
  src: url('/fonts/AdamicBee.eot'); /* IE9 Compat Modes */
  src: url('/fonts/AdamicBee.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/AdamicBee.woff') format('woff'), /* Modern Browsers */
       url('/fonts/AdamicBee.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AdamicBee.svg#159e7fbb74bf1cefffafc0996ebf38fb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

.adamic {
    font-family: "AdamicBee";
}

.fb-like {
	position: absolute;
	display: block;	
}

.g-plusone-container {
	display: block;
	margin-top: 10px;	
}

.social-buttons {
	text-align: left;
	margin: 30px 0 0 10px;
	height: 50px;
}

#brigham-quote {
	font-style: italic;
	margin-bottom: 33px;
	font-size: 16px;
}
#brigham-sig {
	margin-top: 10px;
	width: 160px;
	height: 33px;
	display: inline-block;
}